[init]
	defaultBranch = main
[user]
	email = ben.pueschel2004@gmail.com
	name = Ben Püschel
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	cloner = clone --recursive
	sdiff = diff --staged
	wdiff = diff --word-diff
	hdiff = diff HEAD~1 HEAD
	graph = log --graph --abbrev-commit --all --decorate \
	--format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
